* {
    margin: 0;
    padding: 0;
}

a {
    color: #f9faf8;
}

.header {
    color: #f9faf8; 
    background-color: #1F2937;
}
.header_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 175px;
    margin-right: 175px;
    padding: 20px;
}

.header_logo {
    padding: 5px;
}


ul {
    padding: 10px;
    display: flex;
    list-style: none;
    color: #E5E7EB;
    font-size: 18px; 
    gap: 20px;
}

a {
    text-decoration: none;
}

.header_main {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    padding: 100px;
    justify-content: center;
    align-items: center;
    gap: 18em;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: extra-bold;
}

.title {
    padding-bottom: 10px;
}

.subtitle {
    color: #E5E7EB;
    font-size: 18px; 
}

.right {
    max-height: 200px;
}

img {
    width: 300px; 
    height: auto;
    max-height: 300px;
    margin-right: 25px; 
}

iframe {
    width: 400px; 
    height: 250px;
    margin-right: 25px; 
}

.h2 {
    font-size: 36px; 
    font-weight: extra-bold;
    color: #1F2937;
    margin: 30px;

}

.section2 {
    display: flex;
    flex-direction: column;
    height: 400px;
}

.section2_title {
    text-align: center;
    padding: 20px; 
}

.boxes {
    color: #1F2937; 
    font-size: 23px; 
    display: flex;
    justify-content: center; 
    gap: 60px;
}

.square {
    width: 200px; 
    height: 200px;
    border: 5px outset #1F2937; 
    border-radius: 10px;
}

.signup_section {
    background-color: white;
    height: 200px;
}

.signup {
    background-color: #3882f6;
    display: flex;
    height: 100px;
    margin: 100px 100px;
    justify-content: center;
    border: 5px solid #1F2937;
}

.signup__button {
    margin: 25px 25px;
    border: 1px solid white;
    background-color: #3882f6;
    width: 100px; 
    height: 25px;
    
}

.sign-up_logo {
    color: black;
    text-align: center;
    padding: 3px;
    font-weight: extra-bold;
}

.text {
    margin: 25px 25px;
    color: white;

}

.call_to_action_main{
    font-size: 24px;
}

.sub {
    font-size: 12px;
}



.boxes img {
    width: 200px; 
    height: 200px; 
}

.testimonies {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: 400px;
}

.testimonies_title {
    margin: 30px;
    text-align: center;
}

.h3 {
    font-size: 36px; 
    font-weight: extra-bold;
    color: #1F2937;

}

.quote {
    font-size: 28px;
    color: #1F2937;
    margin: 0 10%;
    font-style: italic;
}

.quote p {
    margin: 0px; 
    padding: 0px;
}

.quote_author {
    margin-top: 10px;
    text-align: end; 
}